body{
    font-family: Arial,  sans-serif;
}
    .top{
        
        text-align: right;  height: 60px;
    }
    .t1{
        margin-right: 20px;
    }
    
    .logo{
       
        text-align: center
    }
    
    .input {
    border-radius: 25px;
    border:1px solid #d0cfcf;
    border-left:0.1px solid white;
    border-top: 1px solid #d0cfcf;
    width: 548px;
    height: 40px;
    }
    .input :focus{
        outline:none;
        
     
    }
   .input:hover{
    
  box-shadow: 0 0 11px rgba(33,33,33,.2); 

   }
   .search [type="submit"]:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
   }
    .search  [type="submit"]{
        text-align: center;
    
    border:0.1px solid white;
    border-radius:4px;
    font-style: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    margin: 100px 4px;
    line-height:27px;
    padding:0 16px;
    height:36px;
    color:#252525;
    background-color: #f2f2f2;
    min-width: 54px;
    text-align:center;
    cursor:pointer;
    user-select:none;
   
    }
